.layout{
margin-top: 10px;
display:flex ;
width: 100%;
height: 87vh;
}

.filme{
flex: 40%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
img{
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.descricao{
flex: 60%;
display: flex;
flex-direction: column;
margin-right: 49px;

}

.sumario{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    flex: 70%;
    
}

.notaa{
    margin-right: 30px;
}

p{

    width: 95%;
    text-align: center;
    margin-left: 10px;
    
}
.nota{
    text-align: center;
    flex:20%;
}