.pesquisar-container {
  padding: 30px 40px;
  
}

.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  padding: 12px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  background: #222;
  color: white;
  font-size: 16px;
 
}

.search-input::placeholder {
  color: #aaa;
}

.button-pesquisar{
  height: 42px;
  background: #393939;
  color: white;
  border: none;
  border-top-right-radius:20% ;
  border-bottom-right-radius:20% ;
}
.button-pesquisar:hover{
  cursor: pointer;
}

.respostas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.filme-card {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.filme-card:hover{
  transform: scale(1.04);
  transition: 0.2s ease;
  cursor: pointer;
}

.filme-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.filme-card h3 {
  color: white;
  font-size: 14px;
  padding: 10px;
}
